<!DOCTYPE html>
<html lang="en" xmlns:form="http://www.w3.org/1999/html">
<head>
<title>Table of users</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<h1>Admin page</h1>
<br/><br/>
<div>
    <!--suppress HtmlDeprecatedAttribute -->
    <table border="1">
        <tr>
            <th>id</th>
            <th>email</th>
            <th>password</th>
            <th>roles</th>
        </tr>

        <tr th:each="user : ${users}">
            <td th:utext="${user.id}">...</td>
            <td th:utext="${user.email}">...</td>
            <td th:utext="${user.password}">...</td>
            <td th:text="${#strings.setJoin(user.getAuthorities, ',')}">...</td>

            <td>
                <form th:method="GET" th:action="@{/admin/user-update/{id}(id=${user.id})}">
                    <input type="submit" value="EDIT"/>
                </form>
            </td>
            <td>
                <form th:method="DELETE" th:action="@{/admin/{id}(id=${user.id})}">
                    <input type="submit" value="DELETE"/>
                </form>
            </td>
        </tr>
    </table>

    <br/><br/>

    <form th:action="@{admin/users-add}">
        <input type="submit" value="CREATE USER">
    </form>

    <br/>

    <form th:action="@{/logout}">
        <input type="submit" value="LOGOUT"/>
    </form>

</div>
</body>
</html>